*{
    box-sizing: border-box;
}

body{
    background-color: rgb(145, 199, 176);
    margin: 0px;
}

header{
    background-color: #347386;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
}
nav{
    text-align: center;
    background-color: #e0e0e0;
    font-family: Arial;
}

nav a{
    padding: 16px 18px;
    display: inline-block;
}

nav a:hover {
    background-color: #cda8b8;
    color: white;
}

footer{
    background-color: #347386;
    text-align: center;
    color: white;
    padding: 10px;
}

.card{
    /*background-color: white;*/
    background-image: url(image/word.png);
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
}

main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    float:right;
    width: 73%;
}

aside{
    float:left;
    width: 25%;
    height: auto;
}
/*方法1*//*
main::after{
    content: "";
    clear: both;
    display: block;
}*/

@media screen and (max-width: 800px){
    article, aside{
        float: none;
        width: 100%;
    } 
    
    .card{
        padding: 10px;
        margin: 15px 0px;
    }
    img{
        max-width: 100%;
        height: 90%;
    }
}
aside img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 30%;
  }
.link {
    color: #333;             /* 原本顏色 */
    text-decoration: none;   /* 拿掉底線，可留可不留 */
    transition: 0.3s ease;   /* 加上動畫過渡（重點！） */
  }
  
.link:hover {
    color: #ff5722;          /* 滑過時的顏色 */
    transform: scale(1.08);  /* 微微放大 */
  }

  .skill-box {
    margin-bottom: 20px;
    width: 300px;                 /* 可以依照版面改 */
    margin: 20px auto;
  }
  
  .skill-bar {
    width: 100%;
    height: 14px;
    background-color: #e0e0e0;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px auto;
  }
  
  .skill-level {
    height: 100%;
    border-radius: 7px;
  }
  
  /* 個別技能的固定百分比 */
  .skill-level.java {
    width: 70%;
    background-color: #f57c00;   /* Java 用橘色 */
  }
  
  .skill-level.python {
    width: 60%;
    background-color: #4caf50;   /* Python 用綠色 */
  }
  
  .skill-level.html {
    width: 80%;
    background-color: #2196f3;   /* HTML 用藍色 */
  }

  .me{
    text-align: left;
  }

  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .contact p {
    margin: 5px 0;
  }
  
  .copy {
    margin-top: 15px;
    font-size: 0.8rem;
    color: #666;
  }